.spinnerCont{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(228, 220, 220, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
} 